<ion-header>
  <ion-navbar>
    <ion-title>
      EMware
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2>Member Login</h2>
  <form ng-submit="doLogin()">
  	<div class="ion-list">
  		<ion-list>
    		<ion-item>
      		<ion-label color="primary" class="input-label">E-mail</ion-label>
      		<ion-input placeholder="Enter E-mail Here" type="text" ng-model="loginData.username"></ion-input>
    		</ion-item>

    		<ion-item>
      		<ion-label color="primary" class="input-label">Password</ion-label>
      		<ion-input placeholder="Enter Password Here" type="password" ng-model="loginData.password"></ion-input>
    		</ion-item>
  		</ion-list>
  	</div>
  	<button ion-button medium block color="primary" type="submit" (click)="showConfirm()">Login</button>
	</form>


  <p>
    Don't have an account? Click the Sign Up button below to make an account with us!
  </p>

  <button ion-button medium block color="primary" (click)="showPrompt()">Sign Up</button>
   
</ion-content>
